header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 100px 50px;
}

.logo img {
  width: 129.11px;
  height: 104.65px;
}

.header_nav {
    list-style: circle;
    display: flex;
    gap: 32px; 
    margin: 0;
    padding: 0;
}
/* Убираем маркер у первого элемента */
nav ul li:first-child {
    list-style: none;
}
.address {
    justify-self: end;
    width: 240px;
    height: 98px;

}

.address a {
    border-bottom: 1px solid #000;
    text-decoration: none;
}

.cov {
    padding: 165px 50px 207px 50px;
    position: relative;
    z-index: 2;
}

.cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

h1 {
    font-family: Raleway;
    font-size: 100px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.2em;
    color: white;
}

.ono,
.tebe,
.nado {
    display: block;
}
.tebe {
    text-align: center;
}
.nado {
    text-align: right;
}

.cover_description-text {
    position: relative;
    padding-bottom: 61px;
    padding-left: 50px;
    z-index: 3;
    color: white;
    font-family: Raleway;
    font-size: 22px;
    word-spacing: 20px;
    margin: 0;
}

.dis {
    display: flex;
    z-index: 3;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 61px;
}

.bet-button {
    position: relative;
    z-index: 3;
    background: transparent;
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    padding: 12px 32px;
    border: 1px solid white;
    align-self: flex-start;

}

.lots_heading {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots_card-list {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0 24px;
}

.lots_card-list-item {
    width: 334px;
    min-height: 596px;
}
.card-link {
    height: 100%;
    text-decoration: none;
}
.card {
    position: relative;
    height: 100%;
    display: flex; 
    flex-direction: column;
    text-decoration: none;
    padding: 50px 40px;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
}
.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card h3 {
    position: relative;
    z-index: 2;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    line-height: 1.2;
    margin: 0;
    color: white;
}

 .card p {
     position: relative;
     z-index: 2;
     font-family: Raleway, sans-serif;
     font-size: 20px;
     font-weight: 400;
     line-height: 1.2;
     color: white;
     margin-top: auto;
 }

 .lots_look-more-link {
    padding-left: 40px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
 }

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding: 180px 50px 150px 50px;
    align-items: start;
}

.about > div:first-child {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}

 .about h2 {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 100px 0;
}

.about_text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    color: #000;
    margin: 0 0 30px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 180px 50px 82px 50px;
}
.footer_nav {
    list-style: none;
    text-align:center;
}

.footer_social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer_social img {
    width: 48px; 
    height: 48px;
}
