header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 195px 50px;
  height: 104.65px;
}

.content-section {
  width: 100%;
}

.logo img {
  width: 129.11px;
  height: 104.65px;
}

.header_nav {
    list-style: circle;
    display: flex;
    gap: 32px;
}
/* Убираем маркер у первого элемента */
nav ul li:first-child {
    list-style: none;
}

.address {
    font-style: inherit;
    justify-self: end;
    width: 240px;
    height: 98px;

}
.address a {
    border-bottom: 1px solid #000;
    text-decoration: none;
}


h1 {
    font-family: Raleway;
    font-size: 100px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.2em;
    color: white;
}


.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover_title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.remove-spacing {
  letter-spacing: normal;
}

.cover_description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover_description-text {
  color: white;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px #FFF solid;
  padding: 14px 32px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
}



.lots_heading {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
    padding-top: 180px;
}

.lots_card-list {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0 24px;
}

.lots_card-list-item {
    width: 334px;
    min-height: 596px;
}
.card-link {
    height: 100%;
    text-decoration: none;
}
.card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 50px 40px;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-position: center;
    background-size: cover;
}
.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-position: center;
    background-size: cover;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.card h3 {
    position: relative;
    z-index: 2;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    line-height: 1.2;
    color: white;
}

 .card p {
     position: relative;
     z-index: 2;
     font-family: Raleway, sans-serif;
     font-size: 20px;
     font-weight: 400;
     line-height: 1.2;
     color: white;
     margin-top: auto;
 }

 .lots_look-more-link {
    padding-left: 40px;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    display: block;
    margin: 30px 0 0 40px;
 }

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding: 180px 50px 150px 50px;
    align-items: start;
}

.about > div:first-child {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_title {
  padding-top: 100px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about_logo-image {
    width: 148px;
    height: 114px;
}

 .about h2 {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 100px 0;
}

.about_text {
    font-family: Raleway, sans-serif;
    font-size: 20px;
    color: #000;
    margin: 0 0 30px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 180px 50px 82px 50px;
}
.footer_nav {
    list-style: none;
    text-align:center;
}

.footer_social {
    list-style: none;
    display: flex;
    gap: 48px;
    justify-self: end;
}

.footer_social img {
    width: 48px;
    height: 48px;
}
